/* Button Styling - Aligning button to the right */
button {
  background-color: var(--btn-bg);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Remove full width to fit button content */
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: #ffffff;
  font-family: poppins;
}

.btn-add-person {
  background-color: var(--btn-bg);
  color: #ffffff;
  margin-bottom: 15px;
  padding: 10ox;
  max-width: 60px;
}

button:hover {
  background-color: var(--btn-hover-bg);
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none; /* Prevent clicks when disabled */
}

.action-buttons {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  background-color: var(--btn-delete-bg);
  font-size: 12px;
  color: #ffffff;
  padding: 8px 15px;
  margin: 3px;
  max-width: 76px;
  border-radius: 8px;
}

.edit-btn {
  background-color: var(--table-border-color);
  font-size: 12px;
  color: var(--text-color);
  padding: 8px 15px;
  margin: 3px;
  max-width: 76px;
  border-radius: 8px;
}

.edit-btn:hover {
  background-color: var(--table-border-color-hover);
}

.delete-btn:hover {
  background-color: var(--table-border-color);
}

.delete-top-right {
  position: absolute;
  bottom: 3px;
  right: 1px;
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  padding: 0px;
  max-width: 30px;
}

.close-top-right {
  position: absolute;
  top: 8px;
  right: 5px;
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  padding: 0px;
  max-width: 30px;
}

.delete-top-right:hover,
.close-top-right:hover {
  background: none;
}

.exportToPDF,
.shareToWhatsApp {
  width: 50%;
}

.shareToWhatsApp {
  background-color: #0cc144;
}

.shareToWhatsApp:hover {
  background-color: #0aa53b;
}

.share-button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.secondary-button {
  background-color: var(--container-bg);
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
}

.secondary-button:hover {
  background-color: var(--infobox-info-bg);
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
}

.tab-container {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin: 0;
  padding: 5px;
  max-width: 500px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.tab-button {
  border: 1px solid var(--table-border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;

  background: transparent;
  color: var(--text-color-desc);
  padding: 12px 14px;
  border-radius: 16px;
  font-size: 12px;
  width: auto;
}

.tab-button:hover {
  background-color: var(--infobox-info-bg);
}

.tab-button.active {
  background-color: var(--infobox-info-bg); /* blue-600 */
  color: var(--text-color);
  border: 1px solid var(--infobox-info-border-color);
}

.tab-button i {
  font-size: 16px;
}
