#paymentChart {
  width: 100%;
  max-width: 250px;
  margin: 20px auto;
}

#collectSummary {
  text-align: left;
}

/* .method-summary-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
  align-items: center;
} */

.method-summary-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom */
  gap: 12px;
  margin-top: 16px;
  align-items: center; /* atau center sesuai kebutuhan */
  width: 100%;
}

.method-card {
  border: 1px solid var(--infobox-info-bg);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.method-logo-wrapper {
  max-width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.method-logo-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.method-card .method-info {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.method-card .method-name {
  font-weight: 600;
  font-size: 14px;
}

.method-card .method-total {
  font-size: 13px;
}

#collectSummary h3 {
  background-color: var(--achieved-bg);
  padding: 10px 16px;
  border-radius: 8px;
  margin: 0;
  font-weight: 500;
}
/* hide some element when export */
.exclude-pdf {
  display: block;
}

.exclude-pdf-temp-hide {
  display: none !important;
}
