.expense-card {
  padding: 15px 0px 0px 0px;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--text-color);

  border-radius: 12px;
}

.expense-meta label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}
.people-row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 5px;
}

.avatar-box {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #eee;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.avatar-name {
  margin-top: 2px;
  font-size: 10px;
  color: var(--text-color);
}

.label-row {
  display: flex;
  flex-wrap: wrap;

  /* margin-bottom: 10px; */
  align-items: center;
}

.label-row label {
  max-width: 40px;
  /* width: 100px; */
  /* font-weight: 500; */
  font-size: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  flex-wrap: wrap;
  white-space: normal; /* Ini memungkinkan teks dengan spasi untuk membungkus */
  text-align: right;
}

.label-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.expense-meta {
  position: relative;
  padding-bottom: 46px; /* agar tombol tidak menabrak konten */
  margin-top: 5px;
  border-bottom: 0.5px solid var(--table-border-color);
}

.expense-meta:last-child {
  border-bottom: none;
}

.action-buttons {
  position: absolute;
  bottom: 5px;
  right: 0px;
  display: flex;
  gap: 0px;
}

.action-buttons button {
  padding: 5px 8px;
  font-size: 12px;
  border: 1px solid var(--table-border-color);
  border-radius: 10px;
  /* background-color: var(--table-border-color); */
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.action-buttons button:hover {
  background-color: var(--table-border-color);
}

.action-buttons i {
  font-size: 14px;
}

.action-buttons .delete-btn {
  color: red;
}

/* SUMARY */
.user-summary-cards {
  padding: 5px;
}
.user-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar img {
  border-radius: 40%;
}

.user-details {
  flex: 1;
  margin-left: 10px;
}

.user-details h2 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.user-details p {
  margin: 0;
  font-size: 10px;
  color: var(--text-color-desc);
}

.user-expense {
  text-align: right;
}

.user-expense h3 {
  font-size: 16px;
  margin: 0;
}

.user-expense p {
  margin: 0;
  color: var(--text-color-desc);
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid var(--table-border-color);
}

.transfer-detail {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  margin: 3px 0;
}

.no-debt {
  color: #4caf50;
  font-weight: bold;
  margin: 3px 0px;
}

.user-transfers {
  background-color: var(--infobox-info-bg);
  padding: 5px 10px;
  border-radius: 5px;
}

.user-transfers p {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  /* padding: 8px; */
  border-radius: 6px;
  padding: 0px;
}

/* data pengeluaran breakdown */
.item-breakdown {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-breakdown li {
  margin-bottom: 8px;
  color: var(--text-color-desc);
  font-size: 12px;
}

.breakdown-row {
  display: flex;
  justify-content: space-between;
  /* font-weight: 500; */
}

.breakdown-row .item-name {
  flex: 1;
  text-align: left;
}

.item-amount {
  flex-shrink: 0;
  text-align: right;
  margin-left: 10px;
  /* font-family: monospace; */
}

.empty-state {
  color: var(--text-color-desc);
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.empty-state-image {
  width: 60px;
  margin: 10px 20px 10px 20px;
}

.edit-expense {
  width: 30px;
  height: 30px;
  background-color: var(--input-bg);
  /* border: 2px dashed #6b46c1; */
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-bg);
  font-size: 28px;
  cursor: pointer;
  font-size: 10px;
}

.edit-expense-text {
  font-size: 10px;
  color: var(--btn-bg);
  margin-top: 2px;
}
