.info-box {
  display: flex;
  border-radius: 8px;
  padding: 0 10px;
  color: #333;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.info-box .content {
  padding: 4px 0;
}

.info-box .icon {
  font-size: 16px;
  align-content: center;
}

.info-box .content ul {
  margin: 0;
  padding-left: 20px;
}

.info-box .content p {
  margin: 4px 0;
  color: var(--text-color);
  text-align: left;
  font-size: 9px;
  margin-left: 5px;
}

.information {
  /* border: 1px solid var(--infobox-info-border-color); */
  background-color: var(--infobox-info-bg);
}

.information .icon {
  /* color: #f1c40f; */
  color: var(--infobox-info-border-color);
}

/* .warning {
  border: 1px solid var(--infobox-border-color);
  background-color: var(--infobox-bg);
}

.warning .icon {
  color: #f1c40f;
  color: var(--infobox-icon-color);
} */
