.invoice-action-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid var(--input-bg);
  padding-bottom: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.export-button {
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid var(--table-border-color);
  background-color: transparent;
  color: var(--btn-bg);
  cursor: pointer;
  transition: background-color 0.2s ease;
  max-width: 40px;
}
