.badge {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7a00;
  color: white;
  padding: 1px 4px;
  border-radius: 15px;
  font-size: 9px;
  z-index: 1;
}

.menu-circle-container {
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-top: 25px;
  width: 100%;
  /* overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; */
  /* padding: 1rem; beri padding langsung di menu */
}

.menu-circle-container::-webkit-scrollbar {
  display: none; /* opsional: sembunyikan scrollbar */
  overflow: auto;
}

.menu-circle {
  text-align: center;
  text-decoration: none;
  color: #000;
  position: relative;
  min-width: 60px;
  cursor: pointer;
  flex: 0 0 auto; /* ini penting agar tidak menyusut */
}

.menu-icon {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #a390f8, #7056ec); /* gradasi ungu */
}

.menu-icon img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.menu-circle span {
  font-size: 12px;
  color: var(--text-color);
}
