/* MOBILE WEB VIEW */
/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  h2 {
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 10px;
  }

  table th,
  table td {
    font-size: 0.9rem;
  }

  button {
    width: 100%;
  }

  .sticky-header,
  .pwa-install-banner {
    width: 100%;
  }

  .slider {
    border-radius: 12px;
  }
  .theme-toggle {
    border-radius: 15px;
  }

  .banner-container {
    margin-top: -70px;
  }

  h1 {
    font-size: 16px;
  }

  .sticky-footer {
    position: fixed;
    bottom: 0;
    padding: 12px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 13px 13px 0 0;
  }

  .sticky-footer .info-box {
    margin-bottom: 10px;
  }

  #section-split,
  #section-nabung {
    margin-bottom: 100px;
  }

  #invoicePage {
    padding-bottom: 140px;
  }

  /* .section-content {
    padding: 5px;
  } */

  .menu-circle-container {
    gap: 15px;
    min-width: 100px;
  }

  .menu-circle {
    min-width: 60px;
  }

  .bottom-sheet {
    width: 100%;
  }

  .menu-icon {
    width: 50px;
    height: 50px;
  }

  .menu-circle span {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  #invoicePage {
    margin-bottom: 140px;
  }

  .container {
    width: 100%;
  }

  h2,
  h3 {
    /* font-size: 12px; */
    color: var(--text-color);
  }

  table th,
  table td {
    font-size: 0.8rem;
  }

  button {
    width: 100%;
  }

  .sticky-header,
  .pwa-install-banner {
    width: 100%;
  }

  .slider {
    border-radius: 12px;
  }

  .theme-toggle {
    border-radius: 15px;
  }

  .banner-container {
    margin-top: -70px;
  }

  /* .section-content {
    padding: 5px;
  } */

  .header-section {
    height: 90px;
  }

  .menu-circle-container {
    gap: 15px;
    min-width: 80px;
  }

  .menu-circle {
    min-width: 60px;
  }

  .menu-icon {
    width: 50px;
    height: 50px;
  }

  .menu-circle span {
    font-size: 12px;
  }

  .invoice-illustration {
    width: 24%;
  }

  .invoice-message {
    font-size: 14px;
  }

  .invoice-message-desc {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
