.card-display-section {
  display: flex;
  overflow-x: auto; /* Scroll horizontal */
  white-space: nowrap;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 5px 10px; /*padding left and right need to 10px for selected card show checklist icon*/

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.payment-card {
  display: flex;
  flex-direction: row; /* Ubah dari column ke row */
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 16px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  color: var(--text-color);
  position: relative;
  flex: 0 0 auto;
  min-width: 200px;
  min-height: 60px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid white;
  border: 1px solid var(--table-border-color);
}

.payment-card-header {
  background-color: var(--infobox-info-bg);
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0;
  margin-right: 8px;
  width: auto;
}

.payment-logo {
  /* height: 32px; */
  width: 60px;
  height: auto;
  /* display: block; */
  padding: 5px 8px;
}

.payment-card-content {
  padding: 0;
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.account-number {
  font-weight: 600;
}

.card-display-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#paymentCardsContainer {
  display: flex;
  gap: 16px; /* Jarak antar card */
}

.payment-card p {
  margin: 0;
  font-size: 12px;
}

/* select card metode pembayaran */
.payment-card.selected {
  border: 1px solid #7056ec;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(112, 86, 236, 0.1); /* soft highlight */
}

.selected-payment-summary,
.payment-method-item,
.donate-payment {
  border: 1px solid var(--infobox-info-bg);
  background-color: var(--container-bg);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 10px;
}

.donate-payment {
  justify-content: space-between;
}

.selected-payment-summary img,
.payment-logo img {
  width: 60px;
}

select,
input {
  font-size: 14px;
  font-family: poppins;
}

/* Checklist icon di pojok kiri atas */
.check-icon {
  position: absolute;
  top: -9px;
  right: -6px;
  color: var(--btn-bg);
  font-size: 20px;
  display: none; /* Default disembunyikan */
}

/* Tampilkan icon hanya jika card selected */
.payment-card.selected .check-icon {
  display: block;
}

.billed-card.selected .check-icon {
  display: block;
}

.fa-check-circle {
  background-color: var(--container-bg);
  border-radius: 100%;
}
