.menu-profile-container {
  padding-top: 0px;
  padding-bottom: 0px;
}
.menu-navigation {
  padding: 20px 10px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
}

.menu-text {
  font-size: 14px;
  margin-left: 10px;
}

.profile-menu {
  cursor: pointer;
  font-size: 22px;
  align-items: center;
  display: flex;
}

.avatar-profile {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  object-fit: cover;
  cursor: pointer;
}

.saved-paymemt-method,
.contact-us {
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
  padding: 0px 10px;
}

.contact-us p {
  color: var(--text-color-desc);
}

.saved-paymemt-method.active,
.contact-us.active {
  max-height: 500px;
  opacity: 1;
  padding: 0px 10px 20px 10px;
}

.banner-profile {
  width: 100%;
  border-radius: 15px;
  margin-top: 45px;
}

.banner-profile-container {
  padding: 10px;
  padding-bottom: 0;
}

.footer-profile {
  margin-top: 20px;
}

.footer-profile-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 600;
  margin-left: 2px;
}

.text-logo {
  font-weight: 600;
}

.footer-profile-text {
  color: var(--text-color-desc);
  font-size: 10px;
}
.menu-navigation-container {
  border-bottom: 1px solid var(--table-border-color);
}

.menu-navigation-container:last-child {
  border-bottom: none;
}

.menu-navigation-container hr {
  margin: 0;
  height: 0.5px;
  background-color: var(--table-border-color);
}

.card-icon {
  font-size: 18px;
  /* color: var(--text-color-desc); */
}

.menu-navigation i {
  color: var(--text-color-desc);
}

/* User Profile Section Styles */

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--table-border-color);
  border-radius: 15px;
  padding: 16px;
}

.login-message-card {
  align-items: center;
  gap: 16px;
  border-radius: 15px;
  padding: 20px 0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-avatar {
  width: 40px;
  height: 40px;
}

.avatar-large {
  border-radius: 40%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h2 {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.profile-info p {
  color: var(--text-color-desc);
  font-size: 12px;
  margin: 0;
}

.logout-btn {
  padding: 6px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--text-color-desc);
  cursor: pointer;
  transition: background-color 0.2s ease;
  max-width: 50px;
  cursor: pointer;
}

.logout-btn:hover {
  background: none;
}

.logout-btn i {
  font-size: 18px;
}

/* Login Required Section Styles */

.login-icon img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.non-login-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-message-card h3 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
}

.login-message-card p {
  color: var(--text-color-desc);
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(74, 144, 226, 0.4);
}

.login-btn i {
  font-size: 16px;
}
