.table-container {
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  background-color: var(--container-bg);
  border-radius: 12px; /* Agar tetap membulat meski scroll */
  padding: 0; /* Hindari padding yang bisa mengganggu scroll */
  margin-top: 10px;
}

#expense-table {
  width: 100%; /* Ensure the table takes full width */
  border-collapse: collapse;
  overflow: hidden; /* Ini penting untuk buat radius kelihatan */
  border-radius: 12px;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

table {
  width: 100%;
  /* margin-top: 10px; */
  border-collapse: collapse;
  overflow: hidden;
  text-align: left;
  border-radius: 12px;
}

thead {
  border-radius: 12px;
}

th,
td {
  text-align: left;
  font-size: 14px;
}

th {
  background-color: var(--table-header-bg);
  text-align: center;
  padding: 10px 16px 10px 16px;
}

td {
  background-color: var(--table-body-bg);
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
  padding: 5px 10px 5px 10px;
}

.scrollable-table-container {
  overflow-y: auto;
  border-radius: 12px;
}

/* user table */
.action-column {
  width: 20%;
}

.no-clumn {
  width: 10%;
}
