* {
  font-family: "poppins";
}

.top-container {
  margin-top: 60px;
  padding: 0;
  align-items: center;
  white-space: nowrap;
  padding: 15px 15px;
}

.filter-container {
  margin-top: 60px;
  padding: 0;
  align-items: center;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start; /* memastikan isi align ke kiri */
  width: 100%; /* pastikan lebar penuh */
  padding: 0; /* hapus padding jika perlu */
}

.filter-container .tab-container {
  margin-bottom: 0px;
}

.back-btn {
  background: transparent;
  border: none;
  color: white;
  padding: 4px 9px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30px;
  border-radius: 50%;
}

.header-title {
  flex: 1;
}

.header-title h1 {
  font-size: 16px;
  color: white;
}

.filter-row {
  display: flex;
  gap: 15px;
  /* margin-bottom: 10px; */
}

.filter-group {
  flex: 1;
}

.filter-label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color-desc);
  font-size: 14px;
}

.filter-input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--table-border-color);
  border-radius: 12px;
  font-size: 14px;
  transition: all 0.3s ease;
  background: var(--input-bg);
  cursor: pointer;
}

.filter-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.section-header {
  display: flex;
  justify-content: between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.transaction-count {
  background: #e3f2fd;
  color: #1976d2;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.savings-date {
  font-size: 12px;
  color: #888;
}

.summary-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.transactionsList,
.split-bill-list {
  display: grid;
  gap: 12px;
  margin-top: 20px;
}

.summary-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid var(--table-border-color);
  border-radius: 16px;
  padding: 10px;
  background-color: var(--container-bg);
  gap: 10px;
}

.summary-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  margin: 0px;
}

.summary-card p {
  font-size: 12px;
  color: var(--text-color-desc);
  margin: 0px;
}

.filter-chip {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #e3f2fd;
  color: #1976d2;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin: 4px;
}

.filter-chip .remove-chip {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-left: 4px;
}

.active-filters {
  margin-top: 10px;
  overflow-x: auto;
}

.hidden {
  display: none;
}

.filter-header {
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center; /* align vertical */
  gap: 8px; /* jarak antar elemen */
  justify-content: space-between; /* Judul kiri, toggle kanan */
}

.filter-btn {
  color: var(--text-color);
  background-color: transparent;
  padding: 0px;
}

.filter-btn:hover {
  color: var(--text-color);
  background-color: transparent;
}

.filter-section,
.billed-section,
.invoice-details-section,
.invoice-items-section,
.payment-details-section,
.invoice-tnc-section {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
}

.filter-section.active,
.billed-section.active,
.invoice-details-section.active,
.invoice-items-section.active,
.payment-details-section.active,
.invoice-tnc-section.active {
  max-height: fit-content;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid var(--table-border-color);
  margin-top: 10px;
}

.filter-count-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #e3f2fd;
  color: #1976d2;
  padding: 2px 7px;
  border-radius: 20px;
  font-size: 12px;
}

/* Transaction Invoice */

.invoice-card,
.splitBill-card {
  border-radius: 14px;
  transition: transform 0.3s ease;
  border: 1px solid var(--table-border-color);
  cursor: pointer;
  min-width: 280px;
  background: var(--container-bg);
}

.invoice-card-body,
.transaction-body {
  padding: 0 15px 10px 15px;
  text-align: left;
}

.invoice-card-footer,
.transaction-footer {
  /* border-top: 1px solid var(--table-border-color); */
  padding: 8px 10px;
  background-color: var(--input-bg);
  border-radius: 0 0 14px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.invoice-card-header,
.transaction-header {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--table-border-color); */
  padding-bottom: 5px;
}

.invoice-card-body p {
  margin: 0.3rem 0;
  font-size: 12px;
}

.invoice-icon {
  background-color: var(--infobox-info-bg);
  color: var(--infobox-info-border-color);
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 16px;
  margin-right: 5px;
}

.invoice-no {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 600;
}
.invoice-card-amount,
.split-bill-amount {
  font-size: 14px;
  font-weight: bold;
  color: #667eea;
}

.tab-transaction {
  padding: 6px 12px 6px 6px;
  border-radius: 14px;
  background-color: var(--container-bg);
}

.see-detail {
  cursor: pointer;
  color: #667eea;
  font-size: 12px;
}

.invoice-status-section {
  color: var(--text-color);
  font-size: 12px;
}

.invoice-status {
  display: inline-flex;
  font-size: 12px;
  color: var(--text-color-desc);
  background-color: var(--container-bg);
  padding: 3px 8px;
  border-radius: 16px;
  align-items: center;
  gap: 2px;
  text-transform: capitalize;
}

.mark-paid-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 3px 8px;
  border-radius: 16px;
  cursor: pointer;
  margin-right: auto;
  font-size: 12px;
  width: auto;
}
.mark-paid-button:hover {
  background-color: #45a049;
}

.invoice-status.paid {
  color: var(--achieved-color);
  background-color: var(--achieved-bg);
  border: 1px solid var(--achieved-border);
}

.invoice-status.unpaid {
  color: var(--progress-color);
  background-color: var(--progress-bg);
  border: 1px solid var(--progress-border);
}

/* SPLIT BILL */

.split-bill-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction-item {
  background: white;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid var(--table-border-color);
}

.transaction-info {
  flex: 1;
}

.split-bill-number {
  font-weight: 600;
  color: var(--text-color);
  font-size: 12px;
  margin-bottom: 4px;
}

.activity-name {
  color: var(--text-color);
  font-size: 12px;
  margin-bottom: 4px;
}

.activity-date {
  color: var(--text-color-desc);
  font-size: 10px;
}

.participants-preview {
  display: flex;
  align-items: center;
}

.profile-icons {
  display: flex;
  margin-right: 10px;
}

.profile-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid var(--input-bg);
  margin-left: -8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.profile-icon:first-child {
  margin-left: 0;
}

.profile-icon:nth-child(2) {
  z-index: 2;
}

.profile-icon:nth-child(3) {
  z-index: 3;
}

.friend-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.more-participants {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #d9dffd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  /* font-weight: 600; */
  font-size: 10px;
  border: 2px solid var(--input-bg);
  margin-left: -8px;
  z-index: 4;
}

.participants-count {
  color: var(--text-color-desc);
  font-size: 10px;
}

.no-data {
  text-align: center;
  padding: 10px;
  color: var(--text-color-desc);
  border-radius: 12px;
  font-size: 12px;
}
