/* testing */

.logo {
  max-width: 100px;
  height: auto;
}

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--bg-color);
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  box-sizing: border-box;
  border: 1px solid var(--table-border-color);
}

.slider .sun {
  color: var(--btn-bg);
  font-size: 16px;
  z-index: 2;
  transition: color 0.3s;
}

.slider .moon {
  color: #d0d6dd;
  font-size: 16px;
  z-index: 2;
  transition: color 0.3s;
}

.toggle-ball {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 26px;
  height: 22px;
  background-color: var(--container-bg);
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 1;
  border: 1px solid var(--table-border-color);
}

/* Saat switch aktif (checkbox dicentang) */
.theme-toggle input:checked + .slider {
  background-color: var(--bg-color);
}

.theme-toggle input:checked + .slider .sun {
  color: #d0d6dd;
}

.theme-toggle input:checked + .slider .moon {
  color: var(--btn-bg);
}

.theme-toggle input:checked + .slider .toggle-ball {
  transform: translateX(27px);
}

/* toogle theme */

.sticky-header {
  position: fixed;
  top: 0;
  padding: 8px 20px 8px 20px;
  /* background-color: var(--btn-bg); */
  background: linear-gradient(to right, #8b5cf6, #7c3aed);
  z-index: 1000;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Judul kiri, toggle kanan */
  transition: background-color 0.3s ease;

  box-sizing: border-box; /* ⬅️ Tambahkan ini */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 0 0 10px 10px;
}

.sticky-header h1 {
  margin: 0;
  font-size: 20px;
  color: var(--btn-bg);
}

.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-items: center;
}

#peopleTable {
  display: none;
}

.banner {
  width: 100%;
}

.banner-container {
  border-radius: 15px;
  align-items: center;
  margin-top: -80px;
  width: 100%;
}

.summary-container {
  display: none; /* Sembunyikan secara default */
}

/* text information */
.card-container p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  font-size: 12px;
}

p {
  font-size: 12px;
}

.title {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.empty-text {
  font-size: 14px;
}

/* Global Styles */
body {
  background-color: var(--bg-color);
  color: #ffffff;
  font-family: "poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 20px;
  color: var(--text-color);
}

h2,
h3 {
  /* font-size: 12px; */
  color: var(--text-color);
  margin-bottom: 20px 0;
}

h2 {
  border-bottom: 2px solid var(--table-border-color); /* bisa diganti warna lain */
  padding-bottom: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

.container {
  width: 50%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  align-items: center;
  /* margin-top: 50px; */
}

/* Form Elements */
label {
  display: block;
  text-align: left;
  /* margin-top: 10px; */
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 5px;
}

#input-section label {
  display: block;
  margin-bottom: 6px;
}

input,
#input-section input,
#input-section select,
#input-section .avatar-container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--table-border-color);
  border-radius: 10px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-bg);
}

#bankForm input,
#ewalletForm input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--table-border-color);
  border-radius: 6px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--input-bg);
}

#input-section select {
  padding-right: 30px; /* Tambahkan ruang untuk icon panah */
  color: var(--text-color);
  appearance: none; /* Hilangkan default dropdown (opsional) */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

/* For better browser support */
input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-size: 14px;
}

input:focus,
button:focus select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.card-container {
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ensure it fits inside the parent */
  white-space: nowrap; /* Prevent text from wrapping */
  background-color: var(--container-bg);
  border: 1px solid var(--table-border-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* AVATAR */
/* Buat avatar-container tampil seperti field */
.avatar-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  min-height: 48px;
  align-items: center;
  overflow-x: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.avatar-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Tambahkan padding agar sejajar dengan input */
.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}

/* Avatar bulat */
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.avatar.selected {
  outline: 3px solid #4caf50;
  transform: scale(1.1);
}

.avatar-name {
  margin-top: 6px;
  font-size: 13px;
  color: var(--text-color);
  text-align: center;
  max-width: 70px;
  word-wrap: break-word;
}

/* TABEL PEOPLE */
.people-table {
  width: 100%;
  border-collapse: collapse;
}

.people-table th,
.people-table td {
  text-align: center;
}

.remove-btn {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.empty-text {
  font-style: italic;
  color: #aaa;
  font-size: 0.9rem;
}

p {
  color: var(--text-color);
}

.header-section {
  /* background-color: var(--btn-bg); */
  background: linear-gradient(to right, #8b5cf6, #7c3aed);
  height: 110px;
  width: 100%;
  top: 0;
  border-radius: 0 0 30px 30px;
  padding: 20px;
}
