#showUnderConstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.under-construction {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

#section-daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
